{% extends 'base.html' %}
{% block content %}{%load static%}{% load django_bootstrap5 %}

  <h1 class="text-center pt-3">작성하기</h1>
  <form class="text-center " action="{% url 'info:create' %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form info_form %}
    {% comment %} <label for="제목">제목:
    </label>
    <input type="text" name="title" id="title">
    <label for="줄거리">줄거리:
    </label>
    <textarea name="summary" id="summary" cols="30" rows="10"></textarea>
    <label for="상영시간">상영시간:
    </label>
    <input type="text" name="running_time" ,="," id="running_time">
    <br>
    <input class="btn btn-outline-dark" type="submit" value="작성">
  </form> {% endcomment %}
  <input class="btn btn-outline-dark mb-2" type="submit" value="글쓰기" />
{% endblock %}