{% extends 'base.html' %}
{% block content %}
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <h5>영화 정보 게시판</h5>
      <a href="{% url 'info:create' %}" type="button" class="btn btn-outline-success ">작성</a>
    </div>

  </div>
</nav>
<hr>
<form action="" class="m-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">영화</th>
        <th scope="col">영화 제목</th>
        <th scope="col">영화 줄거리</th>
        <th scope="col">러닝 타임</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for info in infos %}
        <tr>
          <th scope="row">{{info.id}}</th>
          <td>
            <a href="{% url 'info:detail' info.pk%}" class="link-success">
              <p class="text-success">제목 :
                {{info.title}}</p>
            </a>
          </td>
          <td>{{info.summary}}</td>
          <td>{{info.running_time}}</td>
        </tr>
      </tbody>
      {% endfor%}
    </table>
  </form>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="success">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}
