{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %} 
<h1>{{ article.title }}</h1>
<p>{{ article.pk }}번 게시글 | <a href="{% url 'accounts:detail' article.user.pk %}">{{ article.user.username }}</a></p>
<p>{{ article.created_at|date:"SHORT_DATETIME_FORMAT" }} | {{ article.updated_at|date:"y-m-d D" }}</p>
<p>FOLLOWING   {{ user.followings.count }} | FOLLOWER  {{ user.followers.count }}</p>
<div class="m-2">
  {% if request.user != article.user %}
    <div>
      <form action="{% url 'accounts:follow' article.user.pk%}" method='POST'>
        {% csrf_token %}
        {% if request.user in user.followers.all %}
          <input type="submit" class="btn btn-outline-secondary" value='Unfollow'>
        {% else %}
          <input type="submit" class="btn btn-outline-secondary" value='Follow'>
        {% endif %}
      </form>
    </div>
  {% endif %}
</div>


{% if request.user == article.user %}
<p>
  <a href="{% url 'articles:update' article.pk %}" class="text-decoration-none bnt bnt-outline-dark">수정하기</a>
</p>
{% endif %}
<hr>
<p>{{ article.content }} </p>
{% if article.image %}
  <img src="{{ article.image.url }}" alt="{{ article.image }}" width="400" height="300">
  <form action="{% url 'articles:like' article.pk %}" method='POST'>
    {% csrf_token %}
    {% if request.user in article.like_users.all %}
    <button class="btn btn-link text-danger">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-suit-heart-fill" viewbox="0 0 16 16">
        <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
      </svg>
    </button>
    {% else %}
    <button class="btn btn-link text-danger">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-suit-heart" viewbox="0 0 16 16">
        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
      </svg>
    </button>
  </form>
  {% endif %}
  {% endif %}
<hr>
<h4 class="my-3">댓글</h4>
{% if request.user.is_authenticated %}
<form action="{% url 'articles:comment_create' article.pk %}" method="POST">
  {% csrf_token %}
  {% bootstrap_form comment_form layout='floating'%}
  {% bootstrap_button button_type="submit" content="OK" %}
</form>
{% endif %}
<hr>
{% for comment in comments %}
  <p> {{ comment.user.username }} | {{ comment.content }}</p>
  <hr>    
{% empty %}
  <p>댓글이 없어요 ㅠ_ㅠ</p>
{% endfor %}


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  //1.좋아요버튼
  const likeBtn = document.querySelector('#like-btn')
  //2.좋아요 버튼을 클릭하면 함수실행
  likeBtn.addEventListener('click', function (event) {
    // 서버로 비동기 요청을 하고 싶음
    console.log(event.target.dataset)
    axios({
      method: 'get',
      url: '/articles/${event.target.dataset.articleId}/like/'
    })
  .then(respones =>{
    console.log(respones)
  })
  })
</script>
<script>
  // 댓글!
  // (1) 댓글 폼
  const commentForm = document.querySelector('#comment-form')
  // (2) 제출하면, 함수 실행시킬래 
  // csrf 
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  commentForm.addEventListener('submit', function(event) {
    event.preventDefault();
    axios({
      method: 'post',
      url: `/articles/${event.target.dataset.articleId}/comments/`,
      headers: {'X-CSRFToken': csrftoken},
      data: new FormData(commentForm) // 폼에 있는 정보를 data로 넘겨줄 수 있도록 변환
    })
    .then(response => {
      console.log(response.data)
      // 댓글을 추가하는 로직
      const comments = document.querySelector('#comments')
      const p = document.createElement('p')
      p.innerText = `${response.data.userName} | ${response.data.content}`
      const hr = document.createElement('hr')
      comments.append(p, hr) 
      commentForm.reset()
    })
  })
</script>
{% endblock %}