.nav {
  background-color: #0F3D3E;
}

.hd {
  background-color: #100F0F;
}
.ht {
  color: #F9F5EB;
}

.bntt{
  color: #E2DCC8;
}
.mi {
  top: 0.5rem; 
  right: 0.5rem;
}

.bg {
  background-color: #E2DCC8;
}